@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Sair";
}

<hgroup>
    <h1 class="text-danger">Secção Terminada.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
</hgroup>
