@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Conta bloqueada";
}

<hgroup>
    <h1 class="text-danger">Bloqueado </h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
</hgroup>
