@model InspiringIPT.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div class="row">
    <div class="col-md-6" style="text-align:justify">
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Alterar Password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="~/Imags/pansodan06.jpg" alt="">
    </div>
</div>